* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar-column,.center-column,
#footer-column {
width: 500px;margin: 0px auto;}

.light-container {
background-color: #e79e8e;
padding: 36px 0px;
text-align: center;
}

.Third-container {
    background-color: #fbcc04;
    padding: 36px 0px;
    text-align: center;
}

.dark-container {
background-color: #dde7f6;
padding: 36px 0px;
text-align: center;
}

.side-by-side img {
padding-left: 36px;
width: 100%;
}
